html, body {
    height: 100%;
}
header{
    background-image: none;
    background-color: #EEE9D5;
    }
body{
    background-image: url("./../image/大專bg.png");
    flex-direction: column;
}
footer{
    background-color: #ecdea8;
   
    margin: 0;
    padding: 0;
    width: 100%;
   
}
.container-md {
    padding: 0;
}

.my-header{
    width: 100%;
}
.container-flex {
    flex: 1;
}
.icon-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border: 2px solid #000;
    border-radius: 50%;
    background-color: #fff;
    margin-bottom: 10px;
}
.icon-shopping {
    position: fixed;
    top: 100px;
    right: 10px;
    font-size: 24px;
    z-index: 1;
}
.icon-heart {
    position: absolute;
    bottom: 3px;
    right: 15px;
    font-size: 40px;
    margin-right: 200px;
    color: white;
}
.myimg{
    position: relative; 
}
.header-content {
    display: flex;
    align-items: center;
    position: relative;
}

.header-img {
    width: 100%; 
    margin: 0 auto; 
    position: relative;
}

.header-img img {
    width: 100%; 
    height: 400px;
}
.hotpot{
    margin-top: 40px;
    margin-left: 100px;
}
.score{
    margin-top: 20px;
    color: white;
    font-size: 15px;
    display: block;
    margin-bottom: 15px;
    text-align: center;
    padding: 10px 0;
    border-radius: 5px;
    background-color:#e5a67a;
    text-decoration: none;
    width: 150px;
    border: none;
}
.custom-ul {
    background-color: #fff;
    width: 15%;
    padding: 0;
    margin: 0 2% 0 0 ;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%; 
    list-style-type: none;
    border-radius: 10px;
    box-shadow: 5px 10px 15px #aaaaaa;
    }
.name {
    text-align: center;
    font-size: 20px;
    margin-top: 10px;
}
.price{
    text-align: center;
    font-size: 20px;
}
.date{
    text-align: right;
}
.product-img {
    width: 100px;
    height: auto;
    margin-left: 20px;
}

.totalPrice{
    margin-left: 70px;
}
.top {
    position: fixed; 
    bottom: 20px; 
    right: 20px; 
    width: 50px; 
    height: auto; 
    z-index: 1000; 
}